<div class="container-fluid">
    <div class="form">
        <div class="row">
            <div class="col-lg-6 form-left">
                <div class="form-gr-add">
                    <i class="fa-solid fa-location-dot"></i><span>Address</span>
                    <p>Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US</p>
                </div>
                <div class="form-gr">
                    <i class="fa-solid fa-phone"></i><span>Lets Talk</span>
                    <p>+1 800 1236879</p>
                </div>
                <div class="form-gr">
                    <i class="fa-solid fa-envelope"></i><span>General Support</span>
                    <p>contact@example.com</p>
                </div>
            </div>
            <div class="col-lg-6 form-right">
                <h2>Send Us A Message</h2>
                <form>
                    <div>
                        <p>TELL US YOUR NAME*</p>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <p>ENTER YOUR EMAIL*</p>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="email">
                    </div>

                    <div class="mt-3">
                        <p>ENTER PHONE NUMBER</p>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="phone">
                    </div>

                    <div class="mt-3">
                        <p>MESSAGE*</p>
                    </div>
                    <div>
                        <input type="" class="form-control" placeholder="message">
                    </div>
                </form>
                <button class="btn btn-success but mt-4">SEND MESSAGE</button>
            </div>
        </div>
    </div>
</div>